@model Umfrage_Tool.SurveyViewModel

@{
    ViewBag.Title = "Umfrage bearbeiten";
}
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" media="print" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/Abfrage_vorm_löschen.js"></script>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @if (Session["Fertig"] == null)
        {
            Session["Fertig"] = "FALSE";
        }
        @if (Session["Fertig"].ToString() != "TRUE")
        {
            int last = Model.questionViewModels.Count();
            Session["last"] = last;
            Session["UmfrageID"] = Model.ID;

            <div id="Panel_fuer_Umfrage" class="panel panel-primary" style="margin:5%;">
                <div class="panel-heading">
                    <input name="model.name" value="@Model.name" type="text" class="form-control"/> 
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="panel-body Fragen_Komplex form-group">
                    @Html.Action("Vorschau", "Umfrage_Erstellung")
                </div>
                <div id="PanelFooter" class="panel-footer">
                    <input name="subject" type="submit" value="Aktualisieren" class="btn btn-lg btn-primary Knoepfe_fuer_Beantwortung" />
                </div>
            </div>



            <div class="row">
                <div class="col-md-2">
                    <label>Fragetext</label>
                </div>
                <div class="col-md-5">
                    <input name="model.questionViewModels[@last].text" id="model.questionViewModels[@last].text" class="form-control Eigenschaftenfelder" maxlength="400"/>
                </div>
                <div class="col-md-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Fragetyp</label>
                </div>
                <div class="col-md-5">
                    <select class="form-control" onchange="DropdownChange(this)">
                        <option value="0">Freitext</option>
                        <option value="1">MultipleChoice</option>
                        <option value="2">Skala</option>
                    </select>
                    <input id="Fragentyp" name="model.questionViewModels[@last].type" type="text" value="0" style="display:none" />
                    <div id="Antwortmoeglichkeitenfeld">

                    </div>
                </div>

            </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input name="subject" type="submit" value="Frage speichern" class="btn btn-default" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input name="subject" type="submit" value="Änderungen übernehmen und Bearbeitung beenden" class="btn btn-default" />
                        </div>
                    </div>

        }
        @if (Session["Fertig"].ToString() == "TRUE")
                {
                    Session["Fertig"] = "FALSE";
            <div id="FertigeUmfrage" style="text-align:center">
                Glückwunsch!<br />
                Ihr Fragebogen wurde erfolgreich erstellt!<br />
                Hier ist der Link um Ihre Umfrage zu beantworten:<br />
                <label>
                    localhost:60480/Umfrage_Beantwortung?arg=@Session["UmfrageID"].ToString()
                </label><br />
                <input name="subject" type="submit" value="Ende" class="btn btn-default btn-lg" />
            </div>
        }
    </div>
}

<style>
    .Knoepfe_fuer_Beantwortung {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-radius: inherit;
    }

    #PanelFooter {
        padding: unset;
        margin: unset;
        border-top: 0px solid;
    }

    .Fragen_Komplex {
        width: 100% !important;
        height: 100% !important;
        margin: unset !important;
        padding: unset;
    }
</style>

<script type="text/javascript">
    function gt() {
        console.log(@Model)
    };
    function DropdownChange(type) {
        document.getElementById("Fragentyp").value = type.value;
        switch (parseInt(type.value)) {
            case 0:
                document.getElementById("Antwortmoeglichkeitenfeld").innerHTML = "";
                break;
            case 1:
                document.getElementById("Antwortmoeglichkeitenfeld").innerHTML = "";
                $.ajax({
                    url: '@Url.Action("Multiple_Choice_Fragen_Erstellung", "Umfrage_Erstellung")',
                    success: function (response) {
                        $("#Antwortmoeglichkeitenfeld").append(response);
                    }
                });
                event.preventDefault();
                break;
            case 2:
                document.getElementById("Antwortmoeglichkeitenfeld").innerHTML = "";
                $.ajax({
                    url: '@Url.Action("Skalenfragen_Erstellung", "Umfrage_Erstellung")',
                    success: function (response) {
                        $("#Antwortmoeglichkeitenfeld").append(response);
                    }
                });
                event.preventDefault();
                break;
            default:
                break;
        }
    };
    $("#plus").on("click", function () {
        $.ajax({
            url: '@Url.Action("Plus_Antwort", "Umfrage_Erstellung")',
            success: function (response) {
                $("#Antwortmoeglichkeitenfeld").append(response);
            }
        });
        event.preventDefault();
    });
</script>
