@model SurveyViewModel

@{
    ViewBag.Title = "Umfrage bearbeiten";
}
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" media="print"/>
<script src="~/Scripts/Abfrage_vorm_löschen.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="~/Content/Erstellung-Bearbeitung.css" rel="stylesheet">

@{
    var last = Model.questionViewModels.Count;
    Session["last"] = last;
    Session["UmfrageID"] = Model.ID;
}

@using (Html.BeginForm())
{
    <form>
        <h2>Bearbeitung</h2>
        <div class="form-horizontal">
            <div id="PanelFürUmfrage" class="panel panel-primary PanelErstellung">
                <div class="panel-heading">
                    <input name="model.name" value="@Model.name" type="text" class="form-control" maxlength="150" required/>
                </div>
                <div class="panel-body Fragen_Komplex form-group">
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.Action("Vorschau", "Umfrage_Erstellung")

                    <div class="panel panel-primary Fragen_Block">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-lg btn-success glyphicon glyphicon-plus dropdownFrageHinzufügen" onclick="$('#Neu').collapse('toggle')"></button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>


                        <div id="Neu" class="collapse">
                            <div class="panel-body BodyErstellung">
                                <table class="Volle_Breite">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Fragetyp</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <select class="form-control Volle_Breite Volle_Breite1" onchange="DropdownChange(this)">
                                                        <option value="0">Freitext</option>
                                                        <option value="1">MultipleChoice</option>
                                                        <option value="2">Skala</option>
                                                    </select>
                                                    <input id="Fragetyp" name="model.questionViewModels[@last].type" class="Textinput" type="text" value="0"/>

                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                            </div>
                                            <div class="row" id="AntwortmöglichkeitenFeld">

                                            </div>
                                            <input id="AM1" name="model.questionViewModels[@last].choices[0].text" class="Textinput" type="text" value="0"/>
                                            <input id="AM2" name="model.questionViewModels[@last].choices[1].text" class="Textinput" type="text" value="0"/>
                                            <input id="AM3" name="model.questionViewModels[@last].choices[2].text" class="Textinput" type="text" value="0"/>
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input name="subject" type="submit" value="Frage hinzufügen" class="btn btn-primary Volle_Breite Volle_Breite2"/>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="PanelFooter" class="panel-footer">
                        <input name="subject" type="submit" value="Bearbeitung beenden" class="btn btn-lg btn-primary KnöpfeFürBeantwortung"/>
                    </div>
                </div>
            </div>
        </div>
        <input name="arg" value="@Model.ID" type="text" hidden/>
    </form>
}

<script type="text/javascript">
    function DropdownChange(type) {
        document.getElementById("Fragetyp").value = type.value;
        switch (parseInt(type.value)) {
        case 0:
            document.getElementById("AntwortmöglichkeitenFeld").innerHTML = "";
            break;
        case 1:
            document.getElementById("AntwortmöglichkeitenFeld").innerHTML = "";
            $.ajax({
                url: '@Url.Action("Multiple_Choice_Fragen_Erstellung", "Umfrage_Erstellung")',
                success: function(response) {
                    $("#AntwortmöglichkeitenFeld").append(response);
                }
            });
            event.preventDefault();
            break;
        case 2:
            document.getElementById("AntwortmöglichkeitenFeld").innerHTML = "";
            $.ajax({
                url: '@Url.Action("Skalenfragen_Erstellung", "Umfrage_Erstellung")',
                success: function(response) {
                    $("#AntwortmöglichkeitenFeld").append(response);
                }
            });
            event.preventDefault();
            break;
        default:
            break;
        }
    };

    $("#plus").on("click",
        function() {
            $.ajax({
                url: '@Url.Action("Plus_Antwort", "Umfrage_Erstellung")',
                success: function(response) {
                    $("#AntwortmöglichkeitenFeld").append(response);
                }
            });
            event.preventDefault();
        });
</script>