
@model Umfrage_Tool.QuestionViewModel
<tr>
    <td class="panel panel-default">
        <div class="panel-heading panel-default row" style="margin:0px;">
            <div class="col-sm-6" style="text-align:left; padding:0px">
                @Model.text @Model.typ.ToString()
            </div>
            <div class="col-sm-6" style="text-align:right; padding:0px">
                @Html.ActionLink("löschen", "Vorschauloeschfunktion", "Umfrage_Erstellung", new { arg = Model.ID }, new { @class = "btn btn-danger btn-md" })
            </div>
        </div>
        <div class="panel-body panel-default">
            @foreach (var item in Model.answers)
            {
                <p>
                    <label>
                        <input type="radio" name="@Model.ID" value="@item" disabled />
                        @item.text
                    </label>
                </p>
            }
        </div>
    </td>
</tr>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">