@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Vorschau.css" rel="stylesheet" type="text/css" media="print" />
<script src="~/Scripts/Fortschritt.js"></script>
@{
    QuestionViewModel frage = Model;
    frage.choices = frage.choices.OrderBy(b => b.position).ToList();
    frage.choices.Reverse();
}
<table class="table">
    @{
        string befehl = "document.getElementById('Text_" + frage.ID + "').value=this.value";
        int rowSpan = frage.choices.Count();
    }
    <tr>
        <td style="width:10% !important;padding:0px;padding-left:5%;" rowspan="@rowSpan">
            <input id="Ska_Obj"
                   name="antworttext"
                   class="input-range"
                   orient="vertical"
                   type="range"
                   step="1"
                   min="1"
                   max="@frage.scaleLength"
                   style="height:139px"
                   onchange="@befehl">
        </td>
        @if (rowSpan == 2)
        {
            <td style="padding-bottom:45px">
                <input value="@frage.choices.ToList()[0].text"
                       type="text"
                       class="form-control"
                       name="model.questionViewModels[@frage.position].choices[0].text" />
            </td>
        }
        else
        {
            <td style="padding-bottom:22px">
                <input value="@frage.choices.ToList()[0].text"
                       type="text"
                       class="form-control"
                       name="model.questionViewModels[@frage.position].choices[0].text" />
            </td>
        }
    </tr>
    @if (rowSpan == 2)
    {
        <tr>
            <td style="padding-top:45px">
                <input value="@frage.choices.ToList()[1].text"
                       type="text"
                       class="form-control"
                       name="model.questionViewModels[@frage.position].choices[1].text" />
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td style="padding-top:11px;padding-bottom:11px">
                <input value="@frage.choices.ToList()[1].text"
                       type="text"
                       class="form-control"
                       name="model.questionViewModels[@frage.position].choices[1].text" />
            </td>
        </tr>
        <tr>
            <td style="padding-top:22px">
                <input value="@frage.choices.ToList()[2].text"
                       type="text"
                       class="form-control"
                       name="model.questionViewModels[@frage.position].choices[2].text" />
            </td>
        </tr>
    }
</table>