@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Vorschau.css" rel="stylesheet" type="text/css" media="print" />
<script src="~/Scripts/Fortschritt.js"></script>
<link href="~/Content/Erstellung-Bearbeitung.css" rel="stylesheet">
@{
    QuestionViewModel frage = Model;
    frage.choices = frage.choices.OrderBy(b => b.position).ToList();
    frage.choices.Reverse();
}


<div class="row AbstandVonFragenUndAntworten">
    @{
        int rowSpan = frage.choices.Count();
    }
    <div class="col-sm-2 SkalenDivHöhe">

    </div>
    <div class="col-sm-1 SkalenDivHöhe">
        <input id="Ska_Obj"
               name="antworttext"
               class="input-range SkalaInput1"
               orient="vertical"
               type="range"
               step="1"
               min="1"
               max="@frage.scaleLength"/>
    </div>

    <div class="col-sm-7 SkalaInputSpalte1">
        <input value="@frage.choices.ToList()[0].text"
               type="text"
               class="form-control SkalaInput2 NormalerText"
               name="model.questionViewModels[@frage.position].choices[0].text" 
               maxlength="250"
               required
               data-toggle = "popover"
               data-content = "Textfeld für die Minimalwert-Beschriftung"/>
    </div>
    <div class="col-sm-7 SkalaInputSpalte2">
        @{
            if (rowSpan % 2 != 0)
            {
                <input value="@frage.choices.ToList()[1].text"
                       type="text"
                       class="form-control SkalaInput2 NormalerText"
                       name="model.questionViewModels[@frage.position].choices[1].text"
                       maxlength="250"
                       data-toggle = "popover"
                       data-content = "Textfeld für die Mittelwert-Beschriftung"/>
            }
        }
    </div>

    <div class="col-sm-7 SkalaInputSpalte1">
        @{
            if (rowSpan % 2 != 0)
            {
                <input value="@frage.choices.ToList()[2].text"
                       type="text"
                       class="form-control SkalaInput2 NormalerText"
                       name="model.questionViewModels[@frage.position].choices[2].text" 
                       maxlength="250"
                       required
                       data-toggle = "popover"
                       data-content = "Textfeld für die Maximalwert-Beschriftung"/>
            }
            else
            {
                <input value="@frage.choices.ToList()[1].text"
                       type="text"
                       class="form-control SkalaInput2 NormalerText"
                       name="model.questionViewModels[@frage.position].choices[1].text"
                       maxlength="250"
                       required
                       data-toggle = "popover"
                       data-content = "Textfeld für die Maximalwert-Beschriftung"/>
            }
        }
    </div>
</div>
