@{
    ViewBag.Title = "Antworten";
}
@model List<GivenAnswerViewModel>
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" media="print" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/CheckBox_aktivieren.js"></script>

@{
    Dictionary<string, bool> frage_wurde_geschrieben = new Dictionary<string, bool>();
    Dictionary<string, bool> kapitel_wurde_geschrieben = new Dictionary<string, bool>();
}
@foreach (var Beantwortung in Model)
{
    frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = false;
    kapitel_wurde_geschrieben[Beantwortung.questionViewModel.chapterViewModel.ID.ToString()] = false;
}


<div id="Frage @Model.First().sessionViewModel.creationDate" class="panel-body Frage_in_Beantwortung">
    <div id="PanelFürUmfrage" class="panel" style="margin:5%;">
        <div class="panel-heading Tabellen-Header">
            <h2> Beantwortung vom @Model.First().sessionViewModel.creationDate </h2>
        </div>

        <div id="hauptpanelFürAutomatischesEinklappen"
             class="panel-body Tabellen-Body"
             style="padding: 2%;padding-left: 5%;padding-right: 5%;">
                 
            @foreach (var Beantwortung in Model)
            {
                if (kapitel_wurde_geschrieben[Beantwortung.questionViewModel.chapterViewModel.ID.ToString()] == false)
                {
                    <div class="panel-heading Tabellen-Header"
                         style="margin-top: 20px;">
                        <h4 class="panel-title Fragetext ">
                            @Beantwortung.questionViewModel.chapterViewModel.text
                        </h4>
                    </div>
                    kapitel_wurde_geschrieben[Beantwortung.questionViewModel.chapterViewModel.ID.ToString()] = true;
                }


                if (frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] == false)
                {
                    string Fragetext = Beantwortung.questionViewModel.text;
                    switch (Beantwortung.questionViewModel.type)
                    {
                        case Domain.Question.choices.MultipleOne:
                            @Html.Action("MultipleOne_Einzel", "Auswertung_Einzel", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.Skalenfrage:
                            @Html.Action("Skala_Einzel", "Auswertung_Einzel", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.MultipleMore:
                            @Html.Action("MultipleMore_Einzel", "Auswertung_Einzel", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.MultipleOneMitSonstiges:
                            @Html.Action("MultipleOneMitSonstiges_Einzel", "Auswertung_Einzel", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.MultipleMoreMitSonstiges:
                            @Html.Action("MultipleMoreMitSonstiges_Einzel", "Auswertung_Einzel", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;

                        case Domain.Question.choices.Freitext:
                        default:
                            @Html.Action("Freitext_Einzel", "Auswertung_Einzel", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                    }
                }
            }

        </div>
        <div id="PanelFooter" class="panel-footer Tabellen-Footer">
            @Html.ActionLink("Zurück", "Ergebnisse", "Auswertung_Einzel", new { arg = Session["Vorherige_Umfrage"].ToString() }, new { @class = "btn btn-lg btn-warning KnöpfeFürBeantwortung KnopfMitText" })
        </div>
    </div>
</div>