@model GivenAnswerViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div class="panel-body Frage_in_Beantwortung">
    @{
        int nummer = Model.questionViewModel.position + 1;
    }
    <p><label class="Fragetext">@nummer. @Model.questionViewModel.text </label></p>
    @{
        var skalenMax = Model.questionViewModel.scaleLength;
        Model.questionViewModel.choices = Model.questionViewModel.choices.OrderBy(b => b.position).ToList();
        Model.questionViewModel.choices.Reverse();
    }
    
    <div class="row">
        @{
            string befehl = "document.getElementById('Text_" + Model.ID + "').value=this.value";
            int rowSpan = Model.questionViewModel.choices.Count();
        }

        <div class="col-sm-1 SkalenDivHöhe">
            <input id="Ska_Obj"
                   name="antworttext"
                   class="input-range SkalaInput1"
                   orient="vertical"
                   type="range"
                   step="1"
                   min="1"
                   max="@skalenMax"
                   onchange="@befehl"
                   value="@Model.text"
                   data-toggle = "popover"
                   data-content = "@Model.text">
        </div>
        <div class="col-sm-11 SkalaInputSpalte2">

            <input type="text" class="form-control SkalaInput2 NormalerText" style="display: none !important;" />
            <label class="NormalerText" style="bottom: 0;"> @Model.questionViewModel.choices.ToList()[0].text</label>
        </div>
        <div class="col-sm-11 SkalaInputSpalte2">
            <input type="text" class="form-control SkalaInput2 NormalerText" style="display: none !important;" />
            @if (rowSpan != 2)
            {
                <label class="NormalerText" style="bottom: 0;"> @Model.questionViewModel.choices.ToList()[1].text</label>
            }
        </div>
        <div class="col-sm-11 SkalaInputSpalte2">
            <input type="text" class="form-control SkalaInput2 NormalerText" style="display: none !important;" />
            @if (rowSpan == 2)
            {
                <label class="NormalerText" style="bottom: 0;"> @Model.questionViewModel.choices.ToList()[1].text</label>
            }
            else
            {
                <label class="NormalerText" style="bottom: 0;">@Model.questionViewModel.choices.ToList()[2].text</label>
            }
        </div>

    </div>

</div>

<style>
    .input-range {
        -webkit-appearance: slider-vertical;
        width: 1px !important;
        margin: 0px;
        margin-top: 19px;
        transform: rotate(-180deg);
    }

    label {
        margin: 0px;
    }
</style>
