@{
    ViewBag.Title = "Antworten";
}
@model List<GivenAnswerViewModel>
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" media="print" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/CheckBox_aktivieren.js"></script>

@{
    Dictionary<string, bool> frage_wurde_geschrieben = new Dictionary<string, bool>();
}
@foreach (var Beantwortung in Model)
{
    frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = false;
}

<div id="Frage @Model.First().sessionViewModel.creationDate" class="panel-body Frage_in_Beantwortung">
    <div id="Panel_fuer_Umfrage" class="panel panel-primary" style="margin:5%;">
        <div class="panel-heading">
            <h2> Beantwortung vom @Model.First().sessionViewModel.creationDate </h2>
        </div>

        <div id="Hauptpanel_fuer_automatisches_Einklappen" class="panel-body panel-primary">

            @foreach (var Beantwortung in Model)
            {
                if (frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] == false)
                {
                    string Fragetext = Beantwortung.questionViewModel.text;
                    switch (Beantwortung.questionViewModel.type)
                    {
                        case Domain.Question.choices.MultipleOne:
                            @Html.Action("MultipleOne_Einzel", "Umfrage_Ergebnisse", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.Skalenfrage:
                            @Html.Action("Skala_Einzel", "Umfrage_Ergebnisse", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.MultipleMore:
                            @Html.Action("MultipleMore_Einzel", "Umfrage_Ergebnisse", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.MultipleOneMitSonstiges:
                            @Html.Action("MultipleOneMitSonstiges_Einzel", "Umfrage_Ergebnisse", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                        case Domain.Question.choices.MultipleMoreMitSonstiges:
                            @Html.Action("MultipleMoreMitSonstiges_Einzel", "Umfrage_Ergebnisse", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;

                        case Domain.Question.choices.Freitext:
                        default:
                            @Html.Action("Freitext_Einzel", "Umfrage_Ergebnisse", Beantwortung);
                            frage_wurde_geschrieben[Beantwortung.questionViewModel.ID.ToString()] = true;
                            break;
                    }
                }
            }

        </div>
        <div id="PanelFooter" class="panel-footer">
            @Html.ActionLink("Zurück", "Ergebnisse", "Umfrage_Ergebnisse", new { arg = Session["Vorherige_Umfrage"].ToString() }, new { @class = "btn btn-lg btn-primary Knoepfe_fuer_Beantwortung" })
        </div>
    </div>
</div>