@{
    ViewBag.Title = "Fragen Ergebnisse";
}

@model List<QuestionViewModel>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>kumulierte Auswertung</h2>
<div class="panel-group" id="accordion">
    @foreach (var frage in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Antworten_@frage.ID">
                        @frage.text
                    </a>
                </h4>
            </div>
            <div id="Antworten_@frage.ID" class="panel-collapse collapse">
                <div class="panel-body" style="padding:2%">
                    <table class="table table-hover" style="border: solid 0px black;">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Antwort:
                                </th>
                                <th>
                                    Anteil:
                                </th>
                                <th>
                                    Anteil in Prozent:
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (frage.typ == Domain.Question.choices.MultipleOne || frage.typ == Domain.Question.choices.Skalenfrage)
                            {
                                frage.answers = frage.answers.OrderBy(u => u.position).ToList();
                                frage.answers.Reverse();
                                for (int i = 0; i < frage.answers.Count; i++)
                                {
                                    int Antwortmoeglichkeiten = 0;
                                    AnswerViewModel antmoeg = frage.answers.ToList()[i];
                                    <tr>
                                        @if (i == 0)
                                        {
                                            <td id="Anzeig_@frage.ID.ToString()@i" style="padding:0px;padding-left:19px;" rowspan="@frage.answers.Count()">
                                                @if (frage.typ == Domain.Question.choices.Skalenfrage)
                                                {
                                                    int Gesamtmenge = frage.answeringViewModels.Count();
                                                    double Teilmengen = 0;
                                                    int Haeufigkeit_der_Antwort = 0;
                                                    int Filler = 0;
                                                    foreach (var antmoeg2 in frage.answers)
                                                    {
                                                        Haeufigkeit_der_Antwort = 0;
                                                        foreach (var gegebene_Antwort in frage.answeringViewModels)
                                                        {
                                                            string Vergleich = (antmoeg2.position + 1).ToString();
                                                            bool Ist_eine_Zahl = Int32.TryParse(gegebene_Antwort.text, out Filler);
                                                            if (Ist_eine_Zahl == true)
                                                            {
                                                                if (gegebene_Antwort.text == Vergleich)
                                                                {
                                                                    Haeufigkeit_der_Antwort++;
                                                                }
                                                                List<AnswerViewModel>
                                                                    Antwortenliste = frage.answers.ToList();
                                                                int Index = Convert.ToInt32(gegebene_Antwort.text) - 1;
                                                                AnswerViewModel Antwort8 = Antwortenliste[Index];
                                                                gegebene_Antwort.text = Antwort8.text;
                                                            }
                                                            if (Ist_eine_Zahl == false)
                                                            {
                                                                if (gegebene_Antwort.text == antmoeg2.text)
                                                                {
                                                                    Haeufigkeit_der_Antwort++;
                                                                }
                                                            }
                                                        }
                                                        int Wertigkeit = antmoeg2.position + 1;
                                                        int Wert = Wertigkeit * Haeufigkeit_der_Antwort;
                                                        Teilmengen += Wert;
                                                    }
                                                    int Durchschnitt = Convert.ToInt32(((double)Teilmengen / (double)Gesamtmenge) * 100);
                                                    int Maximum = frage.answers.Count() * 100;
                                                    string hoehe = (37 * frage.answers.Count() - 37) + "px";
                                                    <input name="SkalenObjekt" class="input-range Ska_@frage.ID" style="height:@hoehe" orient="vertical" type="range" value="@Durchschnitt" step="1" min="100" max="@Maximum" disabled>
                                                }
                                            </td>
                                        }
                                        else
                                        {

                                        }
                                        <td>
                                            @if (frage.typ == Domain.Question.choices.MultipleOne)
                                            {
                                                <div class="radio" style="margin:0px;padding:0px" disabled>
                                                    <label>
                                                        <input type="radio" name="@frage.ID" disabled />
                                                        <b>@antmoeg.text</b>
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <label>
                                                    <b>@antmoeg.text</b>
                                                </label>
                                            }
                                        </td>
                                        <td>
                                            @foreach (var gegebene_Antwort in frage.answeringViewModels)
                                            {
                                                if (gegebene_Antwort.text == antmoeg.text)
                                                {
                                                    Antwortmoeglichkeiten++;
                                                }
                                            }
                                            @Antwortmoeglichkeiten
                                        </td>
                                        <td>
                                            @{ double prozentanteil = Math.Round((double)Antwortmoeglichkeiten / (double)frage.answeringViewModels.Count() * 100, 2); }
                                            @prozentanteil %
                                        </td>
                                    </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    Dictionary
                                                    <string, int>
                                                        Antworten = new Dictionary<string, int>
                                                            ();
                                                    foreach (var item in frage.answeringViewModels)
                                                    {
                                                        Antworten[item.text] = 0;
                                                    }
                                                    foreach (var item in frage.answeringViewModels)
                                                    {
                                                        Antworten[item.text]++;
                                                    }
                                                    foreach (var item in Antworten.OrderByDescending(d => d.Value))
                                                    {
                                                        string Klasse_fuer_Groessten_Eintrag = "";
                                                        if (item.Value == Antworten.OrderByDescending(d => d.Value).First().Value)
                                                        {
                                                            Klasse_fuer_Groessten_Eintrag = "info";
                                                        }
                                                        <tr class="@Klasse_fuer_Groessten_Eintrag">
                                                            <td></td>
                                                            <td>
                                                                <b>@item.Key</b>
                                                            </td>
                                                            <td>
                                                                <b>@item.Value</b>
                                                            </td>
                                                            <td>
                                                                <b>@Math.Round((double)item.Value / (double)frage.answeringViewModels.Count() * 100, 2) %</b>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    gegebene Antworten: @frage.answeringViewModels.Count()
                </div>
            </div>
        </div>
                                                }

</div>

<style>
    .input-range {
        -webkit-appearance: slider-vertical;
        width: 1px !important;
        margin: 0px;
        margin-top: 19px;
        transform: rotate(-180deg);
    }

    label {
        margin: 0px;
    }

    td {
        min-width: 5px !important;
        width: 5px !important;
        max-width: 5px !important;
    }
</style>