@model Umfrage_Tool.QuestionViewModel
<link href="~/Content/Auswertung.css" rel="stylesheet" type="text/css" />
@* Kumulieren der gegebenen Antworten *@
@{
    Dictionary<string, int> antworten = new Dictionary<string, int>();
    foreach (var antwort in Model.choices)
    {
        string index = antwort.text;
        antworten[index] = 0;
    }
    foreach (var beantwortung in Model.givenAnswerViewModels)
    {
        string index = beantwortung.text;
        antworten[index]++;
    }
    int anzahl_der_Zeilen = antworten.Count() + 1;
}
@* Tabellenkopf *@
@{
    <tr>
        <th colspan="3" class="Zwischen_Kopf_Zeile">
            <label class="Tabellentext">Ausgewählte Antworten</label>
        </th>
    </tr>
    <tr>
        <th class="Spalte_Antwort_Text">
            <label class="Tabellentext">
                Antwort:
            </label>
        </th>
        <th class="Spalte_Antwort_Anteil">
            <label class="Tabellentext">
                Anteil:
            </label>
        </th>
        <th class="Spalte_Antwort_Prozent">
            <label class="Tabellentext">
                Anteil in Prozent:
            </label>
        </th>
    </tr>
}
@* Auflisten der einzelnen Antworten *@
@{
    int haeufigste_Antwort = antworten.OrderByDescending(d => d.Value).First().Value;
    int gesamtmenge_der_gegebenen_Antworten = Model.givenAnswerViewModels.Count();
    foreach (var beantwortung in antworten.OrderByDescending(d => d.Value))
    {
        string style_fuer_haeufigsten_Eintrag = "";
        int haeufigkeit_der_gegebenen_Antwort = beantwortung.Value;
        string text_der_gegebenen_Antwort = beantwortung.Key;
        if (haeufigkeit_der_gegebenen_Antwort == haeufigste_Antwort)
        {
            style_fuer_haeufigsten_Eintrag = "Groesster_Eintrag";
        }
        <tr class="Antwortenzeile">
            <td class="@style_fuer_haeufigsten_Eintrag">
                <div class="checkbox" style="margin:0px;padding:0px">
                    <label>
                        <input type="checkbox" name="@Model.ID" disabled />
                        <b>
                            @text_der_gegebenen_Antwort
                        </b>
                    </label>
                </div>
            </td>
            <td class="@style_fuer_haeufigsten_Eintrag">
                @haeufigkeit_der_gegebenen_Antwort
            </td>
            <td class="@style_fuer_haeufigsten_Eintrag">
                @Math.Round((double)haeufigkeit_der_gegebenen_Antwort / (double)gesamtmenge_der_gegebenen_Antworten * 100, 2) %
            </td>
        </tr>
    }
} 
