@model Umfrage_Tool.QuestionViewModel
<div class="panel panel-info">
    <div class="panel-heading" data-toggle="collapse" data-parent="#hauptpanelFürAutomatischesEinklappen" data-target="#Antworten_@Model.ID">
        <h4 class="panel-title">

            @{

                Model.position = Model.position + 1;

            }

            @Model.position. @Model.text

        </h4>
    </div>
    <div id="Antworten_@Model.ID" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                @* Verzweigung um zu bestimmen welches Partial-View geladen werden muss *@
                @{
                    Model.choices = Model.choices.OrderByDescending(u => u.position).ToList();
                    switch (Model.type)
                    {
                        case Domain.Question.choices.Freitext:
                            @Html.Action("Freitext_Kumuliert", "Umfrage_Ergebnisse", Model);
                            break;
                        case Domain.Question.choices.MultipleOne:
                            @Html.Action("MultipleOne_Kumuliert", "Umfrage_Ergebnisse", Model);
                            break;
                        case Domain.Question.choices.Skalenfrage:
                            @Html.Action("Skalenfrage_Kumuliert", "Umfrage_Ergebnisse", Model);
                            break;
                        case Domain.Question.choices.MultipleMore:
                            @Html.Action("MultipleMore_Kumuliert", "Umfrage_Ergebnisse", Model);
                            break;
                        case Domain.Question.choices.MultipleOneMitSonstiges:
                            @Html.Action("MultipleOneMitSonstiges_Kumuliert", "Umfrage_Ergebnisse", Model);
                            break;
                        case Domain.Question.choices.MultipleMoreMitSonstiges:
                            @Html.Action("MultipleMoreMitSonstiges_Kumuliert", "Umfrage_Ergebnisse", Model);
                            break;
                    }
                }
            </table>
        </div>
    </div>
</div>