@model Umfrage_Tool.QuestionViewModel
<link href="~/Content/Auswertung.css" rel="stylesheet" type="text/css" />
@* Berechnung für die Skalenanzeige *@
@{
    int gesamtmenge = Model.givenAnswerViewModels.Count();
    double teilmengen = 0;
    int zu_addierender_Wert = 0;
    foreach (var antwort in Model.givenAnswerViewModels)
    {
        zu_addierender_Wert = Convert.ToInt32(antwort.text);
        teilmengen += zu_addierender_Wert;
    }
    int durchschnitt_fuer_Anzeige = Convert.ToInt32(((double)teilmengen / (double)gesamtmenge));
    int durchschnitt_fuer_Skala = durchschnitt_fuer_Anzeige * 100;
    int maximum = Model.scaleLength * 100;
}
@* Tabellenkopf *@
@{
    <tr>
        <th colspan="2" class="Zwischen_Kopf_Zeile">
            Ausgewählte Antworten
        </th>
    </tr>
    <tr class="Beschreibung_Kopf_Zeile">
        <th class="Start_und_End_Spalte">
            Durchschnitt: @durchschnitt_fuer_Anzeige
        </th>
        <th>
            Antwort:
        </th>
    </tr>
}
@* Auflisten der einzelnen Antworten *@
@{
    <tr style="height:40px">
        <td rowspan="5" style="padding-left:7.5%">
            <input class="input-range" style="height:160px;border:2px solid black !important;" type="range" value="@durchschnitt_fuer_Skala" step="1" min="1" max="@maximum" disabled>
        </td>
        <td>
            <b>Minimum:</b> @Model.choices.FirstOrDefault(b => b.position == 0).text
        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
    </tr>
    <tr style="height:40px">
        <td>
            @if (Model.scaleLength % 2 != 0)
            {
                <b>Mittelwert:</b> @Model.choices.FirstOrDefault(b => b.position == 1).text
            }
        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
    </tr>
    <tr style="height:40px">
        <td>
            <b>Maximum:</b>
            @if (Model.scaleLength % 2 != 0)
            {
                @Model.choices.FirstOrDefault(b => b.position == 2).text
            }
            else
            {
                @Model.choices.FirstOrDefault(b => b.position == 1).text
            }
        </td>
    </tr>

}