@{
    ViewBag.Title = "Umfrage-Tool";
}

@model Umfrage_Tool.Models.LoginViewModel

<script src="~/Scripts/Abfrage_vorm_löschen.js"></script>
<script src="~/Scripts/Popover.js"></script>
<link href="~/Content/Home.css" rel="stylesheet" type="text/css" media="print" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div >
    <div class="panel Home-Panel">
        <div class="panel-heading Tabellen-Header">
            <h4 class="Überschrift_in_Home">Liste der erstellten Umfragen</h4>
        </div>

        @{
            if (Model.Email == "Admin@FI17.de")
            {
                @Html.Action("Erstellte_Umfragen_Admin", "Home")
            }
            else
            {
                @Html.Action("Erstellte_Umfragen_Normaler_Nutzer", "Home")
            }
        }
    </div>

    <p>
        @Html.ActionLink("Umfrage erstellen", "Index", "Umfrage_Erstellung", null, new {@class = "btn btn-warning btn-lg KnopfMitText"})
    </p>

    @*Knöpfe um Fehlermeldungen und Erfolgsseiten zu testen*@
    <p>
        @Html.ActionLink("Umfrage kann nicht bearbeitet werden, wegen Status",
            "Fehlermeldung",
            "Fehlermeldungen",
            new {aufruf = "StatusUmfrageBearbeitung"},
            new
            {
                @class = "btn btn-danger btn-sm"
            })
    </p>
    <p>
        @Html.ActionLink("Umfrage kann nicht beantwortet werden, wegen Status",
            "Fehlermeldung",
            "Fehlermeldungen",
            new
            {
                aufruf = "StatusUmfrageBeantwortung"
            },

        new
        {
            @class = "btn btn-danger btn-sm"
        })
    </p>
    <p>
        @Html.ActionLink("Umfrage kann nicht ausgewertet werden, wegen Status",
            "Fehlermeldung",
            "Fehlermeldungen",
            new
            {
                aufruf = "StatusUmfrageAuswertung"},
                new
                {
                    @class = "btn btn-danger btn-sm"
                })
    </p>
    <p>
        @Html.ActionLink("Umfrage kann nicht ausgewertet werden, weil keine Antworten",
            "Fehlermeldung",
            "Fehlermeldungen",
                new {aufruf = "AuswertungKeineAntworten"},
            new
            {
                @class = "btn btn-danger btn-sm"
            })

    </p>

    <p>
        @Html.ActionLink("Umfrage wurde beantwortet",
            "Fehlermeldung",
            "Fehlermeldungen",
            new
            {
                aufruf = "Umfrage_beendet"},
                new
                {
                    @class = "btn btn-success btn-sm"
                })

    </p>

    <p>
        @Html.ActionLink("Betreuer wurde registriert",
            "Fehlermeldung",
            "Fehlermeldungen",
                new {aufruf = "NutzerHinzugefügt"},
            new
            {
                @class = "btn btn-success btn-sm"
            })

    </p>
    
    <p>
        @Html.ActionLink("Umfrage Link ist falsch Beantwortung",
            "Fehlermeldung",
            "Fehlermeldungen",
                    new {aufruf = "UmfrageBeantwortungExistiertNicht"},
            new
            {
                @class = "btn btn-danger btn-sm"
            })

    </p>
    <div>
    </div>
    <script>PopoverAktivieren();</script>
</div>
