@model SurveyViewModel
@{
    ViewBag.Title = "Umfrage beantworten";
    Layout = "";
}
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@using (Html.BeginForm("Index", "Umfrage_Beantwortung", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary" style="margin:5%">
        <div class="panel-heading">
            <h2> @Model.name </h2>

        </div>
        <div id="Fragenkoerper">
            @if (Model.questionViewModels != null)
            {
                var aktuelleFrage = Convert.ToInt32(Session["Aktuelle_Frage"]);
                QuestionViewModel zu_uebergebene_Frage = Model.questionViewModels.ToList()[aktuelleFrage];
                switch (zu_uebergebene_Frage.typ)
                {
                    case Domain.Question.choices.Freitext:
                        @Html.Action("Freitext", "Umfrage_Beantwortung", zu_uebergebene_Frage);
                        break;
                    case Domain.Question.choices.MultipleOne:
                        @Html.Action("MultipleOne", "Umfrage_Beantwortung", zu_uebergebene_Frage);
                        break;
                    case Domain.Question.choices.Skalenfrage:
                        @Html.Action("Skalenfrage", "Umfrage_Beantwortung", zu_uebergebene_Frage);
                        break;
                    default:
                        @Html.Action("Freitext", "Umfrage_Beantwortung", zu_uebergebene_Frage);
                        break;
                }
            }

        </div>
        <div id="PanelFooter" class="panel-footer">
            <input id="Weiterknopf" name="Wert_Bestätigungsknopf" type="submit" class="btn btn-lg btn-primary Knoepfe_fuer_Beantwortung" value="Weiter" />
            <input id="Fertigknopf" name="Wert_Bestätigungsknopf" type="submit" class="btn btn-lg btn-primary Knoepfe_fuer_Beantwortung" value="Fertigstellen" />
        </div>
    </div>
    <div id="Fortschritt_am_Boden">
        <progress id="Fortschrittsanzeige" value="1" min="0"></progress>
        <div id="Fortschrittszahl">
            Frage 1 von @Model.questionViewModels.Count
        </div>
    </div>
    <script>

        history.pushState(null, document.title, location.href);
        window.addEventListener('popstate', function (event)
        {
            history.pushState(null, document.title, location.href);
        });
        var aktuelle_Frage = parseInt(@Session["Aktuelle_Frage"].ToString());
        var Fragenanzahl_gesamt = @Model.questionViewModels.Count;
        document.getElementById('Fertigknopf').style.display = "none";
        document.getElementById('Fortschrittsanzeige').max = Fragenanzahl_gesamt;
        if(@Model.questionViewModels.Count === 1)
        {
            document.getElementById('Weiterknopf').style.display = "none";
            document.getElementById('Weiterknopf').disabled = "true";
            document.getElementById('Fertigknopf').style.display = "inline";
            document.getElementById('Fertigknopf').removeAttribute("disabled");
        }
        document.getElementById('Fortschrittszahl').innerHTML = "Frage " + (aktuelle_Frage + 1) + " von " + Fragenanzahl_gesamt + "";
        document.getElementById('Fortschrittsanzeige').value = aktuelle_Frage + 1;
        if (aktuelle_Frage === Fragenanzahl_gesamt - 1) {
            document.getElementById('Fertigknopf').style.display = "inline";
            document.getElementById('Fertigknopf').removeAttribute("disabled");
            document.getElementById('Weiterknopf').style.display = "none";
            document.getElementById('Weiterknopf').disabled = "true";
        }
    </script>
}