@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div id="Frage @Model.position" class="panel-body Frage_in_Beantwortung">
    @{
        int nummer = Model.position + 1;
    }
    <p> <label class="Fragetext">@nummer. @Model.text </label></p>
    @{
        var anzahlAntworten = Model.choices.Count();
        int[] Antwortenliste_zur_Randomisierung = new int[anzahlAntworten];
        var Randomisierung = new Random();
        int j;
        for (int i = 0; i < anzahlAntworten; i++)
        {
            j = Randomisierung.Next(0, i + 1);
            Antwortenliste_zur_Randomisierung[i] = Antwortenliste_zur_Randomisierung[j];
            Antwortenliste_zur_Randomisierung[j] = i;
        }
    }
    @foreach (var Antwortmöglichkeit in Antwortenliste_zur_Randomisierung)
    {
        ChoiceViewModel Antwort = Model.choices.Where(b => b.position == Antwortmöglichkeit).FirstOrDefault();
        string Befehl_Nötig = "document.getElementById('Text_" + Model.ID + "').value='" + Antwort.text + "'";
        <div class="checkbox" onclick="@Befehl_Nötig">
            <label for="@Antwort.ID@Antwortmöglichkeit">
                <input id="@Antwort.ID@Antwortmöglichkeit"
                       type="checkbox"
                       name="Antworten[@Session["FragenIndex"]].arrayText"
                       value="@Model.choices.First(b => b.position == Antwortmöglichkeit).text"/>
                @Antwort.text
            </label>
        </div>
    }
    @{
        string Befehl = "var Sonst_Feld = document.getElementById('Sonst_Text_" + Model.ID + "');" +
                        "var Sonst_Check = document.getElementById('Sonst_Check_" + Model.ID + "');" +
                        "Sonst_Check.value = Sonst_Feld.value;" +
                        "Sonst_Feld.disabled = true;" +
                        "Sonst_Feld.required = false;" +
                        "Sonst_Feld.classList.remove('AntwortFeldFuerBeantwortung');" +
                        "if(Sonst_Check.checked)" +
                        "{" +
                        "Sonst_Feld.disabled = false;" +
                        "Sonst_Feld.required = true;" +
                        "Sonst_Feld.classList.add('AntwortFeldFuerBeantwortung');" +
                        "}";
    }

    <div class="checkbox">
        <label for="Sonst">
            <input id="Sonst_Check_@Model.ID" type="checkbox" name="Antworten[@Session["FragenIndex"]].arrayText" value="" onclick="@Befehl" style="margin-top: 10.5px"/>
            <input id="Sonst_Text_@Model.ID" class="form-control" type="text" placeholder="Sonstiges" onchange="@Befehl" onfocusout="@Befehl" disabled="true" maxlength="600"/>
        </label>
    </div>
    <input name="HALLO2" id="Text_@Model.ID" style="display: none" required class="AntwortFeldFuerBeantwortung MultipleMore" value="OMG" />
    <input name="Antworten[@Session["FragenIndex"]].questionViewModel.position" style="display: none" value="@Model.position"/>
</div>