@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div id="Frage @Model.position" class="panel-body">
    <p> <label class="Fragetext"> @Model.text </label></p>
    @{ var anzahlAntworten = Model.answers.Count();
        int[] deck = new int[anzahlAntworten];
        var rnd = new Random();
        int j;
        for (int i = 0; i < anzahlAntworten; i++)
        {
            j = rnd.Next(0, i + 1);
            deck[i] = deck[j];
            deck[j] = i;
        }
    }
    @foreach (var item in deck)
    {
        <div class="radio">
            <input id="@item" type="radio" name="antworttext" value="@Model.answers.Where(b => b.position == item).FirstOrDefault().ID" required />
            <label for="@item">@Model.answers.Where(b => b.position == item).FirstOrDefault().text</label>
        </div>
    }
</div>