@model QuestionViewModel
<div id="Frage @Model.position" class="panel-body Frage_in_Beantwortung">
    <p> <label class="Fragetext"> @Model.text </label></p>
    <div class="row">
        <div class="col-sm-4">
            @foreach (var item in Model.choices)
            {
                if (Model.choices.ToList().IndexOf(item) % 2 == 0)
                {
                    <div class="checkbox">
                        <label class="Multi-Antwort">
                            <input type="checkbox" name="Antworten[@Session["FragenIndex"]].text"/>
                            @item.text
                        </label>
                    </div>
                }
            }
        </div>
        <div class="col-sm-4">
            @foreach (var item in Model.choices)
            {
                if (Model.choices.ToList().IndexOf(item) % 2 != 0)
                {
                    <div class="checkbox">
                        <label class="Multi-Antwort">
                            <input type="checkbox" name="Antworten[@Session["FragenIndex"]].text"/>
                            @item.text
                        </label>
                    </div>
                }
            }
        </div>

        <div class="col-sm-4">
            <input name="Antworten[@Session["FragenIndex"]].questionViewModel.position" style="display:none" value="@Model.position" required />
        </div>
    </div>
</div>

