@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div id="Frage @Model.position" class="panel-body">
    <p> <label class="Fragetext"> @Model.text </label></p>
    @{ 
        int anzahlAntworten = Model.answers.Count();
        for (int i = 0; i < anzahlAntworten; i++)
        {
            List<AnswerViewModel> Antwortenliste = Model.answers.ToList();
            AnswerViewModel gesuchte_Antwort = Antwortenliste.Where(b => b.position == i).FirstOrDefault();
            string Antworttext = gesuchte_Antwort.text;

            <div class="radio">
                <input id="@i" type="radio" name="antworttext" value="@Antworttext" required/>
                <label for="@i">@Antworttext</label>
        </div>
        }
    }
</div>