@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div id="Frage @Model.position" class="panel-body">
    <p> <label class="Fragetext"> @Model.text </label></p>
    @{
        var skalenMax = Model.answers.Count();
        var SkalenObjekt_gibt_es = false;
        Model.answers = Model.answers.OrderBy(b => b.position).ToList();
        Model.answers.Reverse();
    }
    <table class="table">
        @for (int i = 0; i < skalenMax; i++)
        {
            <tr>
                <td id="Anzeig_@i" style="width:50px;padding:0px;padding-left:19px">
                    @if (!SkalenObjekt_gibt_es)
                    {
                        <input id="Ska_Obj"
                               name="antworttext"
                               class="input-range"
                               orient="vertical"
                               type="range"
                               step="1"
                               min="1"
                               max="@skalenMax">
                        SkalenObjekt_gibt_es = true;
                    }
                </td>
                <td>
                    @Model.answers.ToList()[i].text
                </td>
            </tr>
        }
    </table>
</div>
<script>
    for (var i = 1; i < @Model.answers.Count(); i++) {
        document.getElementById("Anzeig_"+i).style.display = "none";
    }
    document.getElementById("Anzeig_0").rowSpan = @Model.answers.Count();
    var Skala = document.getElementById("Ska_Obj");
    var hoehe = (39*@Model.answers.Count()-39)+"px";
    Skala.style.height = hoehe;
</script>

<style>
    .input-range {
        -webkit-appearance: slider-vertical;
        width: 1px !important;
        margin: 0px;
        margin-top: 19px;
        transform: rotate(-180deg);
    }

    label {
        margin: 0px;
    }
</style>