@using Umfrage_Tool.Models
@model LoginViewModel
@{
    ViewBag.Title = "Anmelden";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <script src="~/Scripts/Popover.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <div class="panel">
                    <div class="panel-heading Tabellen-Header">
                        <h2 class="Überschrift_in_Home">@ViewBag.Title.</h2>
                        <h4>Lokales Konto für die Anmeldung verwenden.</h4>
                    </div>
                    <div class="panel-body Tabellen-Body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new
                           {
                               @class = "form-control TextfeldInBearbeitung",
                               data_toggle = "popover",
                               data_content = "Benutzername eingeben"
                           })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new
                           {
                               @class = "form-control TextfeldInBearbeitung",
                               data_toggle = "popover",
                               data_content = "Passwort eingeben"
                           })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Anmelden" class="btn btn-warning KnopfMitText" />
                            </div>
                        </div>
                    </div>
                </div>
                <script>PopoverAktivieren()</script>

                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                @*<p>
                        @Html.ActionLink("Als neuer Benutzer registrieren", "Register")
                    </p>*@
                @*//Diese Option aktivieren, nachdem Sie die Kontobestätigung für die Funktion zum Zurücksetzen des Kennworts aktiviert haben
                    <p>
                        @Html.ActionLink("Kennwort vergessen?", "ForgotPassword")
                    </p>*@
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}