@model Umfrage_Tool.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrieren";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <script src="~/Scripts/Popover.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-heading Tabellen-Header">
            <h2 class="Überschrift_in_Home">@ViewBag.Title.</h2>
            <h4>Neues Konto erstellen.</h4>
        </div>
        <div class="panel-body Tabellen-Body">
                
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control TextfeldInBearbeitung" , data_toggle = "popover", data_content = "Benutzernamen eingeben"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control TextfeldInBearbeitung", data_toggle = "popover", data_content = "Kennwort eingeben" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control TextfeldInBearbeitung", data_toggle = "popover", data_content = "Kennwort wiederholen" })
                </div>
            </div>

            <div class="col-md-offset-3 col-md-9" style="margin-top: 25px;">
                <input type="submit" value="Registrieren" class="btn btn-warning KnopfMitText"/>
            </div>
        </div>

    </div>
    <script>PopoverAktivieren();</script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
