@model Message
@{
    ViewBag.Title = Model.siteTitle;
    if (Model.useLayout == false)
    {
        Layout = null;
    }
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/Abfrage_vorm_löschen.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="panel" style="margin: 5%; border-left: 10px; border-right: 10px">
    <div class="panel-heading Tabellen-Header">
        <h1 class="Überschrift_in_Home">
            @Model.mainMessage
        </h1>
        <h4></h4>
    </div>
    <div class="panel-body Tabellen-Body" style="">
        <div class="NormalerText" id="ZusatzInfo">
            
        </div>
        @if (Model.allowReturn == true)
        {
        @Html.ActionLink(
            "Zurück",
            "Index",
            "Home",
            new { area = "" },
            new
            {
                @class = "btn btn-warning btn-lg KnopfMitText",
                style = "margin-top:25px;"
            })
        }

    </div>
</div>
</body>
</html>
<script>
    Informationen_zeigen('@Model.additionalInformation');
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/Home.css")